@model ProductIndexViewModel

<div id="">
    <h2>@Resources.Resources.Products</h2>

    <input type="hidden" id="hiddenActionUrl" value="/Client/Store/Index" />

    @using (Ajax.BeginForm("ProductList", null, new AjaxOptions
           {
               HttpMethod = "Get",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "pagedListResult",

           }, new { id = "ajaxForm" }))
    {
        <input type="hidden" id="categoryHiddenId" name="id" value="@Model.CurrentCategoryId" />
        <input type="hidden" id="pageHidden" name="page" value="@Model.CurrentPage" />
    }

    <div id="pagedListResult">
        @Html.Partial("_ProductList", Model.PagedProductViewModels)
    </div>
</div>


